article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
    display: block;
}

.SiteHeader img {
    margin-left: 0px;
}

header.ArticleHeader {
    margin-left: 0px;
    width: 710px;
    padding: 10px;
    text-align: center;
}

header img{
    margin-left: 480px;
}

.content {
    margin-left: 0px;
    padding: 20px;
    max-width: 700px;
    min-width: 400px;
}

.content .introduction #Hawking {
    float: right;
    margin-left: 28px;
    margin-right: 5px;
    margin-top: 0px;
}

figcaption {
    font-size: small;
    font-style: italic;
    margin-bottom: 5px;
}

aside.NavSidebar {
    position: absolute;
    top: 150px;
    right: 15px;
    padding: 5px 15px 0px 15px;
    width: 269px;
    min-height: 500px;
    background-color:#eee;
    font-size: small;
}

.NavSidebar a:link {
    color: #96958d;
}

.NavSidebar a:hover {
    color: #3d76ae;
}

footer {
    font-style: italic;
}